<h1>Listado de Héroes</h1>
<mat-divider></mat-divider>
<br>

<!-- row wrap de angular Flex para establecer un row y no se salga de la pagina -->
<div fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="20px">
    <!-- fxFlex para que cada targeta ocupe el 20% del row -->
    <div fxFlex="20"
         fxFlex.lg="15"
         fxFlex.sm="30"
         *ngFor="let heroe of heroes">
        <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>
    </div>
</div>

